.home-container {
  display: grid;
  grid-template-columns: 1fr 5fr;

  /* grid-template-areas: '"one two"'; */
}
.example-form-field {
  width: 200px;
}
mat-grid-tile {
  background: rgb(224, 230, 173);
}
.nav {
  height: 40vh;
}
.main {
  height: auto;
}
