<div>
  <div class="flex items-center ml-6 cursor-pointer" routerLink="/">
    <img
      src="../../../../../assets/image/phile-logo.jpeg"
      alt=""
      width="40"
      class="m-2"
    />
    <div>
      <span>Phile</span>
    </div>
  </div>
  <mat-card class="w-[40%] mx-auto mt-10">
    <mat-card-content class="mx-auto">
      <div>
        <h2 class="text-center font-bold">Sign Up</h2>
      </div>
      <form
        [formGroup]="ResetPasswordForm"
        (ngSubmit)="ResetPassword()"
        name="resetPasswordForm"
        class="mt-5"
      >
        <div>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="johndoe@example.com"
              formControlName="email"
              (blur)="updateErrorMessage()"
              autocomplete="email"
              required
            />
          </mat-form-field>
        </div>

        <button type="submit" class="bg-slate-500 w-[95%] rounded-[0.5rem] p-1">
          Send Link
        </button>
      </form>
      <div class="mt-5">
        <span>Back to login?</span>
        <span
          routerLink="/auth/login"
          class="text-green-500 underline cursor-pointer pl-2"
          >Login</span
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
