<div>
  <div class="flex items-center ml-6 cursor-pointer" routerLink="/">
    <img
      src="../../../../../assets/image/phile-logo.jpeg"
      alt=""
      width="40"
      class="m-2"
    />
    <div>
      <span>Phile</span>
    </div>
  </div>
  <mat-card class="w-[40%] mx-auto mt-10">
    <mat-card-content class="mx-auto">
      <div>
        <h2 class="text-center font-bold">Login</h2>
      </div>
      <form
        [formGroup]="loginform"
        (ngSubmit)="onSubmit()"
        name="loginform"
        class="mt-5"
      >
        <div>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              (blur)="updateErrorMessage()"
              required
              autocomplete="email"
            />
            @if (email.invalid) {
            <mat-error>{{ errorMessage }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              placeholder="Enter password"
              formControlName="password"
              (blur)="updatePasswordErrorMessage()"
              required
              [type]="hide ? 'password' : 'text'"
              autocomplete="current-password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            @if (password.invalid) {
            <mat-error>{{ errorMessage }}</mat-error>
            }
          </mat-form-field>
        </div>

        <button type="submit" class="bg-slate-500 w-[95%] rounded-[0.5rem] p-1">
          Login
        </button>
      </form>
      <div>
        <span
          class="ml-7 text-red-600 cursor-pointer underline"
          routerLink="/auth/reset_password"
          >Forgot Password</span
        >
      </div>
      <div class="mt-5">
        <span>Don't have an account?</span>
        <span
          routerLink="/auth/signup"
          class="text-green-500 underline cursor-pointer pl-2"
          >Signup</span
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
