<div class="home-container">
  <div class="nav ml-10 mt-4">
    <div class="flex items-center ml-6">
      <img
        src="../../../assets/image/phile-logo.jpeg"
        alt=""
        width="40"
        class="m-2"
      />
      <div>
        <span>Phile</span>
      </div>
    </div>

    <div class="mt-6">
      <nav class="">
        <ul class="grid ml-7 gap-4">
          <li>
            <a routerLink="/">Home</a>
          </li>

          <li>
            <a class="">Starred</a>
          </li>

          <li>
            <a class="">Bin</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main">
    <div>
      <div class="m-4 flex items-center justify-between">
        <div>
          <input
            type="text"
            placeholder="Search"
            class="p-1 pl-2 rounded-[4rem]"
          />
        </div>
        <ng-container>
          <div class="cursor-pointer flex gap-2">
            <img
              class="w-[30px] h-[30px] rounded-[50%] object-cover object-center"
              src="assets/image/user.png"
              alt=""
            />
            <div>Username</div>
            <mat-icon>expand_more</mat-icon>
          </div>
          <!-- <span>{{ user.email }}</span> -->
        </ng-container>

        <ng-template>
          <button mat-button routerLink="/auth/login" class="cursor-pointer">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>

        <mat-menu>
          <button mat-menu-item routerLink="/auth/profile">Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

        <!-- <div>
          <span routerLink="/auth/login" class="cursor-pointer">Account</span>
        </div> -->
      </div>

      <div
        class="bg-white h-[86vh] ml-[4vh] mr-[15vh] p-[1rem] rounded-[0.9rem]"
      >
        <div *ngIf="folder">
          <div class="ml-1">
            <span>{{ folder.folderName }}</span>
          </div>
          <div>
            <div>
              <span
                *ngIf="!showForm"
                (click)="showForm = true"
                class="cursor-pointer"
              >
                Add file
              </span>
              <span
                *ngIf="showForm"
                (click)="showForm = false"
                class="cursor-pointer"
              >
                Close form
              </span>
            </div>
            <div *ngIf="showForm">
              <form [formGroup]="addFileForm" class="mb-5">
                <div class="">
                  <div>
                    <label for="myFile">File</label>
                    <input
                      type="file"
                      placeholder="Choose file...."
                      #file
                      (blur)="fileError()"
                      (change)="uploadFile(file.files)"
                      name="myFile"
                      required
                    />
                  </div>
                </div>

                <button
                  type="button"
                  (click)="onSubmit()"
                  class="bg-slate-500 w-[95%] rounded-[0.5rem] p-1"
                >
                  Save
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-[1rem] mt-6">
          <div
            class=""
            [class.w-[40%]]="showPreview"
            [class.w-[100%]]="!showPreview"
            *ngFor="let file of files"
          >
            <div
              class="border bg-slate-200 p-2 rounded-[0.6rem] cursor-pointer"
              *ngIf="!showPreview"
              (click)="preview(file)"
            >
              <span class="text-center cursor-pointer">
                {{ file.fileName }}
              </span>
              <span>
                {{ file.filePath }}
              </span>
              <ng-container [ngSwitch]="file.format">
                <img *ngSwitchCase="'image/png'" [src]="file.filePath" />
                <img *ngSwitchCase="'image/jpeg'" [src]="file.filePath" />
                <img *ngSwitchCase="'image/jpg'" [src]="file.filePath" />

                <!-- <div>
                  <iframe
                    *ngSwitchCase="'application/pdf'"
                    class="w-[95%]"
                    [src]="file.filePath"
                    >View</iframe
                  >
                </div> -->
              </ng-container>
              <img [src]="file.filePath" alt="" />
            </div>
          </div>
          <div
            class="border-2 rounded-[2rem]"
            *ngIf="showPreview && selectedFile"
            [class.w-[60%]]="showPreview"
          >
            <ng-container [ngSwitch]="selectedFile.format">
              <img
                *ngSwitchCase="'.png/.jpg/.jpeg'"
                [src]="selectedFile.filePath"
                alt="Preview for {{ selectedFile.fileName }}"
              />

              <video *ngSwitchCase="'video'" controls>
                <source [src]="selectedFile.filePath" type="video/mp4" />
              </video>

              <audio *ngSwitchCase="'audio'" class="mt-8" controls>
                <source [src]="selectedFile.filePath" type="audio/mpeg" />
              </audio>
              <!-- <div>
                <iframe
                  class="w-[95%]"
                  src="../../../../../assets/document/Fahrenheit-451.pdf"
                ></iframe>
              </div> -->
              <!-- <div *ngSwitchCase="'document'">
                <iframe class="w-[95%]" [src]="selectedFile.filePath"></iframe>
              </div> -->

              <div *ngSwitchCase="'.pdf'">
                <a [href]="selectedFile.filePath" class="mt-6"
                  >View the Filename</a
                >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
